<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #333;
        color: #fff;
    }
    
    .logo a {
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #fff;
    }
    
    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
    .menu li {
        margin: 0 10px;
    }
    
    .menu a {
        text-decoration: none;
        color: #fff;
    }
    
    .search input[type="text"] {
        padding: 5px;
        border: none;
        border-radius: 3px;
        width: 200px;
    }
    
    .search button {
        padding: 5px;
        border: none;
        border-radius: 3px;
        background-color: #fff;
        color: #333;
        margin-left: 10px;
    }
    
    .toggle {
        display: none;
        font-size: 24px;
        cursor: pointer;
    }
    
    @media only screen and (max-width: 600px) {
        .menu {
            display: none;
        }
    
        .toggle {
            display: block;
        }
    
        .search {
            width: 100%;
        }
    }
</style>
<nav>
    <div class="logo">
        
        {% if request.user.is_authenticated %}
        <a href="{% url 'my_profile' %}" class="mr-5"> 
            <img class="w-11 h-11 rouded-full" src="{{ user.avatar.url }}" alt="{{ user.username}}">
        </a>

        {% else %}

        {% endif %}

    </div>
    <div class="menu">
        <ul>
    {% if request.user.is_authenticated %}
            <li><a href="#">Acerca de</a></li>
            <li><a href="{% url 'logout_user' %}">se</a></li>
            <li><a href="{% url 'create_room' %}">CREATE</a></li>
            <li><a href="/">Home</a></li>

    {% else %}
            <li><a href="#">Acerca de</a></li>
            <li><a href="{% url 'register_page' %}">register</a></li>
            <li><a href="{% url 'login_page' %}">login</a></li>

    {% endif %}


    
        
            
            
        </ul>
    </div>
    <form class="text-gray-900" action="{% url 'search' %}" >
        <div class="search .text-gray-900">
            <input name="query" type="text" placeholder="Buscar...">
            <button type="submit">Buscar</button>
        </div>
    </form>
    <div class="toggle">
        <i class="fas fa-bars"></i>
    </div>
</nav>

<script>
    const toggle = document.querySelector(".toggle");
    const menu = document.querySelector(".menu");

    toggle.addEventListener("click", () => {
        menu.classList.toggle("active");
    });


</script>